.cols {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    zoom: 1;
    
    &:before,
    &:after {
        content: "";
        display: table;
    }
    
    &:after {
        clear: both;
    }
}

.withShadow {
    background-color: $white;
    box-shadow: 0 5px 20px 0 rgba(0,1,1, 0.1);
    
    .colsCol--2,
    .colsCol--3,
    .colsCol--4 {
        position: relative;
        border-right: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
    }
    
    .colsCol--2 {
        &:nth-child(2n) {
            border-right: 0;
        }
        
        &:nth-last-child(1),
        &:nth-last-child(2) {
            border-bottom: 0;
        }
    }
    
    .colsCol--3 {
        &:nth-child(3n) {
            border-right: 0;
        }
        
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
            border-bottom: 0;
        }
    }
    
    .colsCol--4 {
        &:nth-child(4n) {
            border-right: 0;
        }
        
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3),
        &:nth-last-child(4) {
            border-bottom: 0;
        }
    }
}

.colsCol--2 {
    flex-basis: 50%;
}

.colsCol--3 {
    flex-basis: calc(100%/3);
}

.colsCol--3_1 {
    flex-basis: calc(100%/3);
}

.colsCol--3_2 {
    flex-basis: calc(100%/(3/2));
}

.colsCol--4 {
    flex-basis: 25%;
}

.colsCol--6 {
    flex-basis: calc(100%/6);
}

