$white: #fff;

$gray: #7c8b90;

$orange: #ea9531;

$blue: #327e97;

$black: #262c2e;





$r-light: 'robotolight', Arial, Tahoma, sans-serif;
$r-regular: 'robotoregular', Arial, Tahoma, sans-serif;
$r-medium: 'robotomedium', Arial, Tahoma, sans-serif;
$r-bold: 'robotobold', Arial, Tahoma, sans-serif;



$transition-normal: .3s linear;
$transition-fast: .1s linear;
