footer.footer.content__in--full
	.content__in
		.footer__cards
			img.footer__cards_img src=""
			img.footer__cards_img src=""
		.menu__footer
			a.menu__footer_link href="#" Политика безопасности
			a.menu__footer_link href="#" Обработка персональных данных
			a.menu__footer_link href="#" Партнерское соглашение
			a.menu__footer_link href="#" Наши партнеры
			a.menu__footer_link href="#" Специальные предложения
		.footer__contacts
			a.footer__contacts_link.footer__contacts_link--phone href="tel:+78008009595" + 7 800 800 95 95
			a.footer__contacts_link.footer__contacts_link--mail href="mailto:finmarket@gpb.ru" finmarket@gpb.ru
			a.footer__contacts_link.footer__contacts_link--address href="#" ул. Наметкина, д. 16, кор. 1
			a.footer__contacts_link.footer__contacts_link--map href="#" карта сайта
	