.mailing.content__in.position-stop
	.cols.cols--mailing
		.col_2.cols--mailing_info Присоединяйтесь к рассылке и будьте в курсе последних событий!
		.col_2
			form.form__mailing
				button.form__mailing_submitButton получать новости
				label.form__mailing_fieldWrapper
					span.form__mailing_fieldWrapper_info E-mail
					input.form__mailing_fieldWrapper_field type="text" placeholder="Ivanov1987@gmail.com"
