.slider.content__in--full
	.slide
		.slide_img style="background-image: url('img/slides/slide1.jpg')"
		.slide_overlay
		.content__in
			a.slide_link href="#" К списку услуг
			.slide_title Лизинг спецтехники
			.slide_subtitle 
				span
					| Льготный займ на уплату авансового платежа.
			.slide_important
				| До 
				span.slide_important_numbers 250
				| млн. руб. под 
				span.slide_important_numbers 5% 
				| годовых.
	.slide
		.slide_img style="background-image: url('img/slides/slide2.jpg')"
		.slide_overlay
		.content__in
			a.slide_link href="#" К списку услуг
			.slide_title Нужна спецтехника?
			.slide_subtitle 
				span
					| Мы купим ее для вас
			.slide_info 
				| Предлагаемая нашей компанией широкая номенклатура продукции помогает клиентам решать задачи любой сложности — от земляных работ до бурения грунта в самых сложных условиях.
	.slide
		.slide_img style="background-image: url('img/slides/slide3.jpg')"
		.slide_overlay
		.content__in
			a.slide_link href="#" К списку услуг
			.slide_title Хеджирование финансовых рисков
			.slide_subtitle 
				span
					| Газпромбанк - ведущий оператор рынка&nbsp;&nbsp;<br/>&nbsp;&nbsp;финансовых производных
			.slide_info 
				| Хеджирование – снижение рыночных рисков Компании при помощи использования производных финансовых инструментов
	.slide
		.slide_img style="background-image: url('img/slides/slide4.jpg')"
		.slide_overlay
		.content__in
			a.slide_link href="#" К списку услуг
			.slide_title Cash Management
			.slide_subtitle 
				span
					| Комплексные решения по управлению&nbsp;&nbsp;<br/>&nbsp;&nbsp;денежными потоками
			.slide_info 
				| Это комплекс услуг, предназначенных для эффективного осуществления расчетов и управления остатками на банковских счетах, позволяющих контролировать внешние и внутренние финансовые потоки холдинговой структуры, и достигать следующих целей.
			.slide_info 
				| Будет полезно для клиентов с разветвленной сетью филиалов, дочерних компаний и удаленных структурных подразделений.
