/****************************** tabs ******************************/
.tabs {
    
}

.tabsLinks {
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    
    li {
        display: inline-block;
        margin-right: 25px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}

.tabsLinks_link {
    display: inline-block;
    padding-bottom: 19px;
    font-size: 16px;
    line-height: 24px;
    color: $gray;
    border-bottom: 4px solid transparent;
    
    &.is-active {
        font-family: $r-medium;
        color: $black;
        border-bottom-color: $orange;
        cursor: default;
    }
    
    &.tabsLinks_link--more {
        position: relative;
        padding-right: 20px;
        
        &:before {
            content: '';
            position: absolute;
            top: 10px;
            right: 0;
            @include icon(arrow_tabs_down, 9px, 6px);
        }
    }
}

.tabsWrapper {
    padding: 20px 20px 17px;
    background-color: $white;
    box-shadow: 0 5px 20px 0 rgba(0,1,1, 0.1);
}

.tabsContent {
    display: none;
    
    &.is-active {
        display: block;
    }
}

.tabsContent_img {
    width: 100%;
}

.tabsContent_info {
    padding: 25px 20px 45px;
    
}

.tabsContent_list {
    padding: 0 100px;
    
    li {
        position: relative;
        margin-bottom: 28px;
        padding-left: 22px;
        
        &:before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 2px;
            position: absolute;
            top: 12px;
            left: 0;
            background-color: $orange;
        }
        
        &:last-child {
            &:before {
                display: none;
            }
        }
    }
}

.tabsContent_list_link {
    position: relative;
    padding-right: 15px;
    color: $blue;
    
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        @include icon(arrow_right_blue, 6px, 9px);
        transform: translateY(-50%);
    }
}



/****************************** mailing ******************************/
.mailing {
    padding-top: 14px;
    padding-bottom: 14px;
    background: $gray;
}

.cols--mailing {
    
}

.cols--mailing_info {
    line-height: 42px;
    color: $white;
}

.form__mailing {
    
}

.form__mailing_fieldWrapper {
    position: relative;
    float: right;
    min-width: 280px;
    margin-right: 20px;
    padding: 0 20px;
    display: inline-block;
    height: 42px;
    font-size: 14px;
    line-height: 42px;
    border: 1px solid #bec5c8;
    color: $white;
    border-radius: 21px;
    cursor: pointer;
}

.form__mailing_fieldWrapper_info {
    display: inline-block;
    position: absolute;
    left: 20px;
    color: #c8d5d9;
}

.form__mailing_fieldWrapper_field {
    width: 100%;
    padding-left: 52px;
    color: $white;
    background: transparent;
    cursor: pointer;
    
    &:-moz-placeholder {
        color: $white;
    }
    
    &::-moz-placeholder {
        color: $white;
    }
    
    :-ms-input-placeholder {
        color: $white;
    }
    
    &::-webkit-input-placeholder {
        color: $white;
    }
}

.form__mailing_submitButton {
    float: right;
    display: inline-block;
    padding: 0 50px;
    font: 16px/42px $r-bold;
    color: $gray;
    background: $white;
    cursor: pointer;
    border-radius: 21px;
}



/****************************** news ******************************/
.news {
    
}

.cols--news {
    
    .cols--news_col {
        padding: 20px 40px 62px;
    }
}

.news_imgWrapper {
    margin: 0 -20px 25px;
}

.news_imgWrapper_img {
    display: block;
    width: 100%;
}

.news_title {
    margin-bottom: 24px;
    font: 20px/24px $r-bold;
    text-transform: uppercase;
}

.news_info {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
}

.news_more {
    position: absolute;
    bottom: 33px;
    display: inline-block;
    padding-right: 20px;
    font-size: 14px;
    line-height: 24px;
    color: $blue;
    
    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include icon(arrow_right_blue, 6px, 9px);
    }
}



.news_list {
    
}

.news_list_item {
    position: relative;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 22px;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        position: absolute;
        top: 10px;
        left: -20px;
        background: $orange;
    }
    
    b {
        font-family: $r-bold;
        color: $blue;
    }
}



/****************************** points ******************************/
.points {
    
}

.points_colsWrapper {
    box-shadow: 0 5px 20px 0 rgba(0,1,1, 0.1);
}

.cols--points {
    counter-reset: list;
    box-shadow: none;
    
    .col_2 {
        position: relative;
        padding: 26px 30px 29px 94px;
        
        &:before {
            display: inline-block;
            counter-increment: list;
            content: counter(list);
            position: absolute;
            top: 32px;
            left: 38px;
            width: 33px;
            height: 33px;
            font: 14px/33px $r-bold;
            text-align: center;
            color: $blue;
            border: 2px solid $blue;
            border-radius: 50%;
        }
    }
}

.cols--pointsSpecial {
    
    .col_2 {
        &:first-child {
            &:before {
                display: none;
            }
        }
    }
}

.col_2--pointsLeasing {
    position: relative;
    background: $blue;
}

.col_2--pointsLeasing_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.cols--certificate {
    background: $white;
    text-align: center;
    border-top: 1px solid #dfdfdf;
    
    .col_3 {
        padding: 45px 10px 44px;
    }
}

.cols--certificate_img {
    width: 100%;
    max-width: 260px;
    margin-bottom: 6px;
}

.cols--certificate_info {
    font-size: 14px;
    line-height: 22px;
    color: $gray;
}



/****************************** advantages ******************************/
.advantages {
    
}

.cols--advantages {
    text-align: center;
    
    .col_3 {
        padding: 20px 20px 44px;
    }
}

.cols--advantages_imgWrapper {
    margin-bottom: 28px;
    height: 110px;
    line-height: 110px;
}

.cols--advantages_imgWrapper_img {
    vertical-align: middle;
}

.cols--advantages_title {
    margin-bottom: 17px;
    font: 18px/24px $r-medium;
}

.cols--advantages_title--more {
    color: $gray;
}

.cols--advantages_info {
    font-size: 14px;
    line-height: 22px;
}



/****************************** clients ******************************/
.clients {
    
}

.cols--clients {
    text-align: center;
    
    .col_3 {
        padding: 0 20px 44px;
    }
}

.cols--clients_imgWrapper {
    margin-bottom: 15px;
    height: 230px;
    line-height: 230px;
}

.cols--clients_imgWrapper_img {
    vertical-align: middle;
}

.cols--clients_info {
    font-size: 14px;
    line-height: 22px;
    color: $gray;
}



/****************************** request form ******************************/
.request {
    
}

.form__request {
    padding: 25px 40px 10px;
    
    &.cols--request {
        .col_3 {
            padding-right: 36px;
            border: 0;
            
            &:nth-child(3n) {
                padding-right: 0;
            }
        }
    }
}

.form__request_label {
    font-size: 14px;
    color: $gray;
    cursor: pointer;
}

.form__request_label_fieldWrapper {
    margin: 7px 0 30px;
}

.form__request_label_fieldWrapper_field {
    width: 100%;
    height: 52px;
    padding: 0 20px;
    color: $black;
    border: 1px solid #dddddd;
    border-radius: 26px;
}

.form__request_label_select {
    appearance: none;
    
    position: relative;
    display: block;
    width: 100%;
    height: 52px;
    padding: 0 20px;
    color: $black;
    border: 1px solid #dddddd;
    border-radius: 26px;
    background: transparent url('../img/icons/arrow_select_down.png') no-repeat 90% 50%;
    cursor: pointer;
}

.form__request_label_select_option {
    
}

.form__request_submitButton {
    display: inline-block;
    width: 100%;
    height: 52px;
    font: 18px/52px $r-bold;
    color: $white;
    background-color: $orange;
    border-radius: 26px;
    cursor: pointer;
}



/****************************** procedure ******************************/
.procedure {
    
}

.title--download  {
    
}

.title--download_link {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    float: right;
    padding-left: 37px;
    font: 14px/22px $r-regular;
    
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include icon(pdf_red, 26px, 30px);
    }
    
    span {
        display: inline-block;
        color: $gray;
    }
}

.cols--procedure {
    color: $white;
    
    .col_3 {
        border-right-color: $white;
    }
}

.cols--procedure_order {
    padding: 12px 20px 40px;
    text-align: center;
    background: linear-gradient(-45deg, #ea9531 0%, #ea9531 54%, #e28b25 54%, #e28b25 100%);
}

.cols--procedureImgWrapper {
    height: 170px;
    line-height: 170px;
    
    img {
        vertical-align: middle;
    }
}

.cols--procedureTitle {
    margin-bottom: 20px;
    font: 18px/28px $r-bold;
}

.cols--procedureInfo {
    font-size: 14px;
    line-height: 26px;
}


