/****************************** mailing ******************************/
.mailing {
    padding-top: 14px;
    padding-bottom: 14px;
    background: #7c8b90;
}

.cols--mailing {
    
}

.cols--mailing_info {
    line-height: 42px;
    color: $white;
}

.form__mailing {
    
}

.form__mailing_fieldWrapper {
    position: relative;
    float: right;
    min-width: 280px;
    margin-right: 20px;
    padding: 0 20px;
    display: inline-block;
    height: 42px;
    font-size: 14px;
    line-height: 42px;
    border: 1px solid #bec5c8;
    color: $white;
    border-radius: 21px;
    cursor: pointer;
}

.form__mailing_fieldWrapper_info {
    display: inline-block;
    position: absolute;
    left: 20px;
    color: #c8d5d9;
}

.form__mailing_fieldWrapper_field {
    width: 100%;
    padding-left: 52px;
    color: $white;
    background: transparent;
    cursor: pointer;
    
    &:-moz-placeholder {
        color: $white;
    }
    
    &::-moz-placeholder {
        color: $white;
    }
    
    :-ms-input-placeholder {
        color: $white;
    }
    
    &::-webkit-input-placeholder {
        color: $white;
    }
}

.form__mailing_submitButton {
    float: right;
    display: inline-block;
    padding: 0 50px;
    font: 16px/42px $r-bold;
    color: #7c8b90;
    background: $white;
    cursor: pointer;
    border-radius: 21px;
}



/****************************** news ******************************/
.news {
    
}

.cols--news {
    
    .col_2 {
        padding: 20px 40px 62px;
    }
}

.news_imgWrapper {
    margin: 0 -20px 25px;
}

.news_imgWrapper_img {
    display: block;
    width: 100%;
}

.news_title {
    margin-bottom: 24px;
    font: 20px/24px $r-bold;
    text-transform: uppercase;
}

.news_info {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
}

.news_more {
    position: absolute;
    bottom: 33px;
    display: inline-block;
    padding-right: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #327e97;
    
    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include icon(arrow_right_blue, 6px, 9px);
    }
}



/****************************** advantages ******************************/
.advantages {
    
}

.cols--advantages {
    text-align: center;
    
    .col_3 {
        padding: 20px 20px 44px;
    }
}

.cols--advantages_imgWrapper {
    margin-bottom: 28px;
    height: 110px;
    line-height: 110px;
}

.cols--advantages_imgWrapper_img {
    vertical-align: middle;
}

.cols--advantages_title {
    margin-bottom: 17px;
    font: 18px/24px $r-medium;
}

.cols--advantages_title--more {
    color: #7c8b90;
}

.cols--advantages_info {
    font-size: 14px;
    line-height: 22px;
}



/****************************** clients ******************************/
.clients {
    
}

.cols--clients {
    text-align: center;
    
    .col_3 {
        padding: 0 20px 44px;
    }
}

.cols--clients_imgWrapper {
    margin-bottom: 15px;
    height: 230px;
    line-height: 230px;
}

.cols--clients_imgWrapper_img {
    vertical-align: middle;
}

.cols--clients_info {
    font-size: 14px;
    line-height: 22px;
    color: #7c8b90;
}




















