/****************************** usage ******************************/
.cols--newsUsage {
    text-align: center;
    
    .cols--news_col {
        padding-bottom: 55px;
    }
    
    .news_imgWrapper {
        margin-bottom: 21px;
    }
    
    .news_info {
        font-size: 16px;
        line-height: 24px;
    }
    
    .news_more {
        bottom: 28px;
        left: 50%;
        transform: translateX(-50%);
    }
}



/****************************** advantages ******************************/
.cols--points-adv {
    
    .col_2 {
        padding-left: 105px;
        
        &:before {
            display: none;
        }
    }
}

.cols--points-adv_img {
    position: absolute;
    top: 32px;
}

.cols--points-adv_img--1 {
    left: 37px;
}

.cols--points-adv_img--2 {
    left: 36px;
}

.cols--points-adv_img--3 {
    left: 32px;
}

.cols--points-adv_img--4 {
    left: 33px;
}

.cols--points-adv_img--5 {
    left: 31px;
}

.cols--points-adv_img--6 {
    left: 32px;
}

.cols--points-adv_img--7 {
    left: 22px;
}

.cols--points-adv_img--8 {
    left: 32px;
}



/****************************** info window ******************************/
.cashInfo {
    
}

.cols--cashInfo {
    padding: 35px 40px 30px;
}

.cashInfo_img {
    float: left;
    max-width: 250px;
    margin-top: 10px;
}

.cashInfo_info {
    margin-left: 290px;
    font-size: 18px;
    line-height: 30px;
}



/****************************** services ******************************/
.services {
    
}

.col--service {
    padding: 30px 20px 60px;
    text-align: center;
    
    .news_more {
        bottom: 28px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.services_img {
    margin-bottom: 15px;
    border-radius: 50%;
}

.services_info {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 22px;
}


