/****************************** risks management ******************************/
.risksManagement {

}

.cols--riskManagement {
    padding: 35px 40px 40px;

    .colsCol--riskManagement {
        border: 0;
    }
}


.colsCol--riskManagementImg {
    position: relative;
    padding-right: 60px;
    padding-bottom: 60px;
}

.colsCol__infoRiskManagement {
    margin-bottom: 20px;
    font: 24px/34px $r-light;
    color: $gray;
}

.colsCol__imgRiskManagement {
    position: absolute;
    bottom: 0;
    left: 0;
}

.colsCol__titleRiskManagement {
    margin-bottom: 10px;
    font: 18px/34px $r-medium;
}

.listRiskManagement {
    counter-reset: list;
}

.listRiskManagement__item {
    position: relative;
    padding: 21px 20px 20px 60px;
    border-bottom: 1px solid #dfdfdf;

    &:last-child {
        padding-bottom: 0;
        border: 0;
    }

    &:before {
        display: inline-block;
        counter-increment: list;
        content: counter(list);
        position: absolute;
        top: 23px;
        left: 0;
        width: 40px;
        height: 40px;
        font: 22px/40px $r-bold;
        text-align: center;
        color: $blue;
        border: 2px solid $blue;
        border-radius: 50%;
    }

    b {
        font-family: $r-medium;
        color: $blue;
    }
}



/****************************** risks types ******************************/
.risksType {

}

.colsCol--type {
    padding: 20px 20px 10px;
}



.typeHeader {
    position: relative;
}

.typeHeader__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #04779c;
    opacity: 0.5;
}

.typeHeader__img {
    display: block;
    width: 100%;
}

.typeHeader__info {
    display: inline-block;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 20px/34px $r-bold;
    color: $white;
    background: $orange;
    text-transform: uppercase;
    white-space: nowrap;
}



.typeBlock {
    padding: 21px 0 24px;
    border-bottom: 1px solid #dfdfdf;

    &:last-child {
        border: 0;
    }
}

.typeBlock__title {
    margin-bottom: 22px;
    font: 18px/24px $r-medium;
}

.typeBlock__title--special {
    color: $blue;
}

.typeBlock__list {

}

.typeBlockList__item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 22px;

    &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        position: absolute;
        top: 10px;
        left: 0;
        background: $orange;
    }

    &:last-child {
        margin-bottom: 0;
    }
}



/****************************** attention ******************************/
.attention {
    margin-top: 40px;
}

.attention__info {
    position: relative;
    padding: 20px 10px 24px 115px;
    font-size: 18px;
    line-height: 26px;
    color: $white;
    background: $orange url('../img/risks_info_bg.png') no-repeat right center;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 40px;
        @include icon(attention_white, 44px, 39px);
        transform: translateY(-50%);
    }
}



/****************************** additional opportunities ******************************/
.colsAdditional {

    .cashInfoBlock {
        padding: 15px 40px 10px;
        border-bottom: 1px solid #dfdfdf;
    }

    .cashInfoBlock__text {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-right: 10%;
        font: 20px/30px $r-light;
        color: $gray;
    }
}



/****************************** stages ******************************/
.stages {

}

.cols--steps {
    flex-wrap: nowrap;
}

.colsCol--step {

}

.colsCol__stepItem {
    position: relative;
    padding-left: 40px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    vertical-align: bottom;
    background: linear-gradient(to right, $blue, $orange);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: -46px;
        border: 25px solid transparent;
        border-left: 21px solid $orange;
        z-index: 2;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -47px;
        border: 25px solid transparent;
        border-left: 21px solid $white;
        z-index: 1;
    }
}

.colsCol__stepItem--start {
    background: $blue;

    &:before {
        border-left-color: $blue;
    }
}

.colsCol__stepItem--end {
    background: $orange;

    &:before,
    &:after {
        display: none;
    }
}

.colsCol--stepInfo {
    padding: 17px 20px 34px;
    border-right: 1px solid #dfdfdf;

    &:last-child {
        border: 0;
    }
}

.colsCol__stepInfoText {
    font-size: 14px;
    line-height: 22px;
}



/****************************** key advantages ******************************/
.keyAdvantages {

}

.cols--key {
    flex-wrap: nowrap;
}

.colsCol--key {
    padding: 0 20px 32px;
}

.keyImgWrapper {
    float: left;
    width: 90px;
    height: 150px;
    margin-bottom: 10px;
    line-height: 150px;
    text-align: center;
}

.keyImgWrapper__img {
    vertical-align: middle;
}

.colsCol__titleKey {
    margin-top: 41px;
    margin-left: 110px;
    font: 18px/24px $r-medium;
}

.listKey {
    float: none;
    clear: both;
}

.listKey__item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 22px;

    &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        position: absolute;
        top: 10px;
        left: 0;
        background: $orange;
    }
}



/****************************** how doest it work ******************************/
.how {

}

.cols--procedureHow {

    .colsCol--procedure {
        padding: 2px 30px 42px;
        text-align: left;
    }

    .procedureImgWrapper {
        margin-bottom: 10px;
        height: 150px;
        line-height: 150px;
    }

    .colsCol__infoProcedure {
        font-size: 16px;
        line-height: 28px;
    }
}



/****************************** contacts ******************************/
.contacts {

    .cols {
        flex-wrap: nowrap;
    }
}

.colsCol--contacts {
    padding: 30px 20px 34px;
    text-align: center;
}

.colsCol__contactsAvatar {
    margin-bottom: 18px;
    border-radius: 50%;
}

.colsCol__contactsName {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 19px;
    font: 18px/24px $r-bold;
    text-transform: uppercase;

    &:before {
        content: '';
        display: inline-block;
        width: 26px;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: #dfdfdf;
        transform: translateX(-50%);
    }
}

.colsCol__contactsPosition {
    font-size: 14px;
    line-height: 22px;
}

.colsCol__contactsPlace {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 22px;
    color: $gray;
}

.contactsPhone {
    margin-bottom: 10px;
}

.contactsPhone__link {
    font: 16px/22px $r-bold;
    color: $black;
}

.contactsEmail {

}

.contactsEmail__link {
    font: 16px/22px $r-bold;
    color: $blue;
}
