/****************************** risks management ******************************/










/****************************** risks types ******************************/
.risksType {
    
}

.col--type {
    padding: 20px 20px 10px;
}



.col--typeHeader {
    position: relative;
}

.col--typeHeader_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #04779c;
    opacity: 0.5;
}

.col--typeHeader_img {
    display: block;
    width: 100%;
}

.col--typeHeader_info {
    display: inline-block;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 20px/34px $r-bold;
    color: $white;
    background: $orange;
    text-transform: uppercase;
    white-space: nowrap;
}



.col--typeBlock {
    padding: 21px 0 24px;
    border-bottom: 1px solid #dfdfdf;
    
    &:last-child {
        border: 0;
    }
}

.col--typeBlock_title {
    margin-bottom: 22px;
    font: 18px/24px $r-medium;
}

.col--typeBlock_title--special {
    color: $blue;
}

.col--typeBlock_list {
    
}

.col--typeBlock_list_item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 22px;
    
    &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        position: absolute;
        top: 10px;
        left: 0;
        background: $orange;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
}



/****************************** attention ******************************/
.attention {
    margin-top: 40px;
}

.attention_info {
    position: relative;
    padding: 20px 10px 24px 115px;
    font-size: 18px;
    line-height: 26px;
    color: $white;
    background: $orange url('../img/risks_info_bg.png') no-repeat right center;
    
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 40px;
        @include icon(attention_white, 44px, 39px);
        transform: translateY(-50%);
    }
}



/****************************** additional opportunities ******************************/
.cols--additional {
    
    .cols--cashInfo {
        padding: 15px 40px 10px;
        border-bottom: 1px solid #dfdfdf;
    }
    
    .cashInfo_info {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-right: 10%;
        font: 20px/30px $r-light;
        color: $gray;
    }
}



/****************************** stages ******************************/
.stages {
    
}










/****************************** key advantages ******************************/
.keyAdvantages {
    
}

.cols--key {
    flex-wrap: nowrap;
}

.col--key {
    padding: 0 20px 32px;
}

.col--key_imgWrapper {
    float: left;
    width: 90px;
    height: 150px;
    margin-bottom: 10px;
    line-height: 150px;
    text-align: center;
}

.col--key_imgWrapper_img {
    vertical-align: middle;
}

.col--key_title {
    margin-top: 41px;
    margin-left: 110px;
    font: 18px/24px $r-medium;
}

.col--key_list {
    float: none;
    clear: both;
}

.col--key_list_item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 22px;
    
    &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        position: absolute;
        top: 10px;
        left: 0;
        background: $orange;
    }
}



/****************************** how doest it work ******************************/
.how {
    
}

.cols--procedureHow {
    
    .cols--procedure_order {
        padding: 2px 30px 42px;
        text-align: left;
    }
    
    .cols--procedureImgWrapper {
        margin-bottom: 10px;
        height: 150px;
        line-height: 150px;
    }
    
    .cols--procedureInfo {
        font-size: 16px;
        line-height: 28px;
    }
}



/****************************** contacts ******************************/
.contacts {
    
}

.col--contacts {
    padding: 30px 20px 34px;
    text-align: center;
}

.contacts_avatar {
    margin-bottom: 18px;
    border-radius: 50%;
}

.contacts_name {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 19px;
    font: 18px/24px $r-bold;
    text-transform: uppercase;
    
    &:before {
        content: '';
        display: inline-block;
        width: 26px;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: #dfdfdf;
        transform: translateX(-50%);
    }
}

.contacts_position {
    font-size: 14px;
    line-height: 22px;
}

.contacts_place {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 22px;
    color: $gray;
}

.contacts_phone {
    margin-bottom: 10px;
}

.contacts_phone_link {
    font: 16px/22px $r-bold;
    color: $black;
}

.contacts_email {
    
}

.contacts_email_link {
    font: 16px/22px $r-bold;
    color: $blue;
}

