doctype html
html
	include src/partials/head.slim
	body
		include src/partials/menu.slim
		include src/partials/slider.slim

		.contentIn.contentIn--full.contentIn--mainWrapper.clearfix
			.contentIn__sidebar.sidebar
				ul.sidebar__menu.menuSidebar
					li
						a.menuSidebar__link href="#goals" Цели и эффект от внедрения
					li
						a.menuSidebar__link href="#usage" Актуальность использования
					li
						a.menuSidebar__link href="#cash_advantages" Преимущества
					li
						a.menuSidebar__link href="#cash_info" Cash Management как отдельное окно
					li
						a.menuSidebar__link href="#services" Комплекс услуг
					li
						a.menuSidebar__link href="#management" Управление входящими потоками денежных средств
					li
						a.menuSidebar__link href="#company" Ваша компания
					li
						a.menuSidebar__link.menuSidebar__link--button href="#request" отправить заявку

			.contentIn__content.content
				.content__points.points#goals
					.points__title.title.title--top Цели и эффект от внедрения
					.points__colsWrapper.pointsWrapper
						ul.pointsWrapper__cols.cols.withShadow.cols--points
							li.cols__col.colsCol.colsCol--2
								| Получение дополнительного дохода за счет оптимизации процессов внутри группы компаний
							li.cols__col.colsCol.colsCol--2
								| Уменьшение потребности в дополнительном финансировании
							li.cols__col.colsCol.colsCol--2
								| Оперативное получение информации о текущей ликвидности группы компаний
							li.cols__col.colsCol.colsCol--2
								| Упрощение ежедневного финансового учета внутри группы компаний
							li.cols__col.colsCol.colsCol--2
								| Решение проблемы кассовых<br/>разрывов
							li.cols__col.colsCol.colsCol--2
								| Снижение операционных<br/>расходов
							li.cols__col.colsCol.colsCol--2
								| Оперативное управление<br/>оборотными активами
							li.cols__col.colsCol.colsCol--2
								| Оптимизация процентных доходов<br/>и расходов

				.content__news.news#usage
					.news__title.title Актуальность использования
					.news__cols.cols.withShadow.cols--news.cols--newsUsage
						.cols__col.colsCol.colsCol--3.colsCol--news.is-link data-href="test1"
							p.colsCol__imgWrapper.imgWrapper
								img.imgWrapper__img src="img/news/news_1.jpg"
							p.colsCol__newsInfo Создание корпоративных казначейств
							a.colsCol__moreLink.moreLink подробнее
						.cols__col.colsCol.colsCol--3.colsCol--news.is-link data-href="test2"
							p.colsCol__imgWrapper.imgWrapper
								img.imgWrapper__img src="img/news/news_2.jpg"
							p.colsCol__newsInfo Акцент на бизнес
							a.colsCol__moreLink.moreLink подробнее
						.cols__col.colsCol.colsCol--3.colsCol--news.is-link data-href="test3"
							p.colsCol__imgWrapper.imgWrapper
								img.imgWrapper__img src="img/news/news_3.jpg"
							p.colsCol__newsInfo Увеличить стоимость бизнеса
							a.colsCol__moreLink.moreLink подробнее

				.content__points.points#cash_advantages
					.points__title.title Преимущества
					.points__colsWrapper.pointsWrapper
						ul.pointsWrapper__cols.cols.withShadow.cols--points.cols--pointsAdv
							li.cols__col.colsCol.colsCol--2
								img.colsCol__imgPointsAdv.colsCol__imgPointsAdv--1 src="img/icons/advantage_cash_1.png"
								| Индивидуальные решения для вашего бизнеса с учетом текущих управленческих и фин. потребностей
							li.cols__col.colsCol.colsCol--2
								img.colsCol__imgPointsAdv.colsCol__imgPointsAdv--2 src="img/icons/advantage_cash_2.png"
								| Различные режимы<br/>функционирования счетов
							li.cols__col.colsCol.colsCol--2
								img.colsCol__imgPointsAdv.colsCol__imgPointsAdv--3 src="img/icons/advantage_cash_3.png"
								| Простота в применении, не требуют сложного ПО, максимальная автоматизация решений
							li.cols__col.colsCol.colsCol--2
								img.colsCol__imgPointsAdv.colsCol__imgPointsAdv--4 src="img/icons/advantage_cash_4.png"
								| Высокая степень безопасности и защиты информации
							li.cols__col.colsCol.colsCol--2
								img.colsCol__imgPointsAdv.colsCol__imgPointsAdv--5 src="img/icons/advantage_cash_5.png"
								| Универсальная отработанная договорная, технологическая и информационная база
							li.cols__col.colsCol.colsCol--2
								img.colsCol__imgPointsAdv.colsCol__imgPointsAdv--6 src="img/icons/advantage_cash_6.png"
								| Опыт успешно реализованных проектов для  клиентов различных отраслевых сегментов
							li.cols__col.colsCol.colsCol--2
								img.colsCol__imgPointsAdv.colsCol__imgPointsAdv--7 src="img/icons/advantage_cash_7.png"
								| Разветвленная региональная сеть Банка (от Калининграда до Южно-Сахалинска), единые стандарты обслуживания
							li.cols__col.colsCol.colsCol--2
								img.colsCol__imgPointsAdv.colsCol__imgPointsAdv--8 src="img/icons/advantage_cash_8.png"
								| Команда профессионалов в области сложных расчетных продуктов

				.content__cashInfo.cashInfo#cash_info
					.cashInfo__title.title Cash Management как отдельное окно
					.cashInfo__block.withShadow.cashInfoBlock.clearfix
						img.cashInfoBlock__img src="img/window.jpg"
						p.cashInfoBlock__text
							| Единообразие и высокая степень автоматизации в управлении процентными ставками, остатками, денежными потоками, унификация форматов, документации, единые каналы доставки информации, специальные технические решения для обмена между банковской системой и ERP – вот лишь неполный набор факторов, помогающих создавать добавленную стоимость в финансах корпораций.

				.content__services.services#services
					.services__title.title Комплекс услуг
					.services__cols.cols.withShadow
						.cols__col.colsCol.colsCol--4.colsCol--service
							img.colsCol__imgServices src="img/service_cash1.jpg"
							p.colsCol__infoServices
								| Управление ликвидностью
							a.colsCol__moreLink.moreLink подробнее
						.cols__col.colsCol.colsCol--4.colsCol--service
							img.colsCol__imgServices src="img/service_cash2.jpg"
							p.colsCol__infoServices
								| Продукты электронного документооборота
							a.colsCol__moreLink.moreLink подробнее
						.cols__col.colsCol.colsCol--4.colsCol--service
							img.colsCol__imgServices src="img/service_cash3.jpg"
							p.colsCol__infoServices
								| Управление входящими потоками денежных средств
							a.colsCol__moreLink.moreLink подробнее
						.cols__col.colsCol.colsCol--4.colsCol--service
							img.colsCol__imgServices src="img/service_cash4.jpg"
							p.colsCol__infoServices
								| Управление исходящими потоками денежных средств
							a.colsCol__moreLink.moreLink подробнее

				.content__tabs.tabs#management
					.tabs__title.title Управление входящими потоками денежных средств
					ul.tabs__tabsLinks.tabsLinks
						li
							a.tabsLinks__link.is-active href="#tab1-management"
								| Управление<br/>ликвидностью
						li
							a.tabsLinks__link href="#tab2-management"
								| Продукты электронного<br/>документооборота
						li
							a.tabsLinks__link href="#tab3-management"
								| Управление входящими<br/>потоками денежных средств
						li
							a.tabsLinks__link href="#tab4-management"
								| Управление исходящими<br/>потоками денежных средств
					.tabs__tabsWrapper.tabsWrapper
						.tabsWrapper__tabsContent.tabsContent.is-active id="tab1-management"
							.tabsContent__tabsSub.tabsSub
								ul.tabsSub__links.tabsSubLinks
									li
										a.tabsSubLinks__link.is-active href="#tab1-management-1"
											| Идентификация входящих платежей
									li
										a.tabsSubLinks__link href="#tab1-management-2"
											| Идентификация входящих платежей
								.tabsSub__wrapper.tabsSubWrapper
									.tabsSubWrapper__content.tabsContentSub.is-active id="tab1-management-1"
										.tabsContentSub__title.title
											| Идентификация входящих платежей с использованием уникального идентификатора платежа (УИП)
										.tabsContentSub__cols.cols.cols--manage
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage1
												.colsCol__textManage
													| Оформление Плательщиком платежного поручения с использованием УИП
												.colsCol__infoManage
													| УИП - уникальный идентификатор платежа
												.colsCol__nextManage
													| Распоряжение
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage2
												.colsCol__textManage
													| Контроль УИП* посредством проверки ключевого разряда в случае перевода и осуществление перевода при положительном результате проверки
												.colsCol__nextManage
													| Перевод
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage3
												img.colsCol__imgManage src="img/logos/gasprombank_blue.png"
												.colsCol__textManage
													| Зачисление денежных средств на счет получателя
												.colsCol__infoManage
													| 40822
												.colsCol__nextManage
													| Отчет
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage4
												img.colsCol__imgManage src="img/manage-step6.png"
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage5
												img.colsCol__imgManage src="img/manage-step5.png"
												.colsCol__textManage
													| Счет получателя. Специальный банковский счет для идентификации платежа.
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage6
												.colsCol__titleManage
													| Клиент
												.colsCol__textManage
													| Направление получателю – клиенту Банка ГПБ (АО) ежедневного и промежуточного отчета по входящим платежам с использованием УИП
									.tabsSubWrapper__content.tabsContentSub id="tab1-management-2"
										.tabsContentSub__title.title
											| Идентификация входящих платежей с использованием уникального идентификатора платежа (УИП)
										.tabsContentSub__cols.cols.cols--manage
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage1
												.colsCol__textManage
													| Оформление Плательщиком платежного поручения с использованием УИП
												.colsCol__infoManage
													| УИП - уникальный идентификатор платежа
												.colsCol__nextManage
													| Распоряжение
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage2
												.colsCol__textManage
													| Контроль УИП* посредством проверки ключевого разряда в случае перевода и осуществление перевода при положительном результате проверки
												.colsCol__nextManage
													| Перевод
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage3
												img.colsCol__imgManage src="img/logos/gasprombank_blue.png"
												.colsCol__textManage
													| Зачисление денежных средств на счет получателя
												.colsCol__infoManage
													| 40822
												.colsCol__nextManage
													| Отчет
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage4
												img.colsCol__imgManage src="img/manage-step6.png"
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage5
												img.colsCol__imgManage src="img/manage-step5.png"
												.colsCol__textManage
													| Счет получателя. Специальный банковский счет для идентификации платежа.
											.cols__col.colsCol.colsCol--3.colsCol--manage.colsCol--manage6
												.colsCol__titleManage
													| Клиент
												.colsCol__textManage
													| Направление получателю – клиенту Банка ГПБ (АО) ежедневного и промежуточного отчета по входящим платежам с использованием УИП

				.content__company.company#company
					.company__title.title Ваша компания
					.company__cols.cols.cols--company
						.cols__col.colsCol.colsCol--2.colsCol--company.colsCol--companyList
							ul.colsCol__companyList.companyList
								li.companyList__item
									| С разветвленной сетью дочерних компаний и / или филиалов?
								li.companyList__item
									| С централизованным казначейством?
								li.companyList__item
									| Оказывает массовое предоставление товаров/услуг юридическим и / или физическим лицам и имеет большое количество контрагентов?
								li.companyList__item
									| Получает или предоставляет денежные средства в рамках проектов корпоративного (государственного) целевого финансирования?
						.cols__col.colsCol.colsCol--2.colsCol--company.colsCol--companyInfo
							img.colsCol__imgCompany src="img/icons/cash_monitor.png"
							p.colsCol__infoCompany
								| Решения Cash Management Банка ГПБ (АО) – это то, что Вам может помочь в управлении денежными потоками

				include src/partials/request.slim

		include src/partials/mailing.slim
		include src/partials/footer.slim
