doctype html
html
	include src/partials/head.slim
	body
		include src/partials/menu.slim
		include src/partials/slider.slim
		
		.content__in--full.content__in--mainWrapper.clearfix
			.sidebar
				ul.menu__sidebar
					li
						a.menu__sidebar_link href="#risksManagement" Управление рыночными рисками
					li
						a.menu__sidebar_link href="#risksType" Виды рыночного риска и инструменты хеджирования
					li
						a.menu__sidebar_link href="#additional" Дополнительные возможности
					li
						a.menu__sidebar_link href="#stages" Этапы работы комплексного подхода
					li
						a.menu__sidebar_link href="#keyAdvantages" Ключевые преимущества
					li
						a.menu__sidebar_link href="#how" Как это работает?
					li
						a.menu__sidebar_link href="#contacts" Контакты
					li
						a.menu__sidebar_link.menu__sidebar_link--button href="#request" отправить заявку
			
			.content
				.risksManagement#risksManagement
					.title.title--top Управление рыночными рисками
				
				
				
				
				
				.risksType#risksType
					.title Виды рыночного риска и инструменты хеджирования
				
				
				
				
				
				.attention
					.attention_info
						| Газпромбанк готов предоставить комплексные решения в области управления финансовыми рисками и создать уникальные стратегии хеджирования
				
				
				
				
				
				.additional#additional
					.title Дополнительные возможности
					
				
				
				
				
				.stages#stages
					.title Этапы работы комплексного подхода
					
				
				
				
				
				.keyAdvantages#keyAdvantages
					.title Ключевые преимущества
					.cols.cols--shadow.cols--key
						.col_3.col--key
							.col--key_imgWrapper
								img.col--key_imgWrapper_img src="img/icons/advantge_risks_1.png"
							p.col--key_title
								| Минимизация<br/>рыночных<br/>рисков
							ul.col--key_list
								li.col--key_list_item Снижение зависимости Компании от внешних факторов
								li.col--key_list_item Снижение вероятности непроизводственных убытков
						.col_3.col--key
							.col--key_imgWrapper
								img.col--key_imgWrapper_img src="img/icons/advantge_risks_2.png"
							p.col--key_title
								| Стабилизация<br/>денежных<br/>потоков
							ul.col--key_list
								li.col--key_list_item Формирование бюджета без учета рыночного фактора
								li.col--key_list_item Повышение точности как стратегического, так и тактического планирования денежных потоков
						.col_3.col--key
							.col--key_imgWrapper
								img.col--key_imgWrapper_img src="img/icons/advantge_risks_3.png"
							p.col--key_title
								| Получение<br/>конкурентных<br/>преимуществ
							ul.col--key_list
								li.col--key_list_item Увеличение инвестиционной привлекательности и кредитоспособности Компании
								li.col--key_list_item Расширение вариантов привлечение финансирования
								li.col--key_list_item Гибкость ценообразования экспорта / импорта
				
				.how#how
					.title Как это работает?
					.cols.cols--shadow.cols--procedure.cols--procedureHow
						.col_3.cols--procedure_order
							p.cols--procedureImgWrapper
								img src="img/icons/procedure_4.png"
							p.cols--procedureInfo
								| Связаться с обслуживающим подразделением, сообщить о своем намерении заключить ту или иную сделку и запросить котировки по данному инструменту
						.col_3.cols--procedure_order
							p.cols--procedureImgWrapper
								img src="img/icons/procedure_5.png"
							p.cols--procedureInfo
								| На основе полученной от сотрудников информации принять решение о целесообразности заключения соответствующей сделки
						.col_3.cols--procedure_order
							p.cols--procedureImgWrapper
								img src="img/icons/procedure_6.png"
							p.cols--procedureInfo
								| Заключить сделку при согласии с условиями
				
				.contacts#contacts
					.title Контакты
					.cols.cols--shadow
						.col_3.col--contacts
							img.contacts_avatar src="img/persons/vinsky.jpg"
							p.contacts_name Антон Винский
							p.contacts_position Заместитель начальника
							p.contacts_place Департамент казначейских операций
							p.contacts_phone
								a.contacts_phone_link href="tel:+74954284627" 
									| + 7 (495) 428-46-27
							p.contacts_email
								a.contacts_email_link href="mailto:Anton.Vinsky@Gazprombank.ru"
									| Anton.Vinsky@Gazprombank.ru
						.col_3.col--contacts
							img.contacts_avatar src="img/persons/chekmarev.jpg"
							p.contacts_name Кирилл Чекмарев
							p.contacts_position Директор
							p.contacts_place Департамент казначейских операций
							p.contacts_phone 
								a.contacts_phone_link href="tel:+74959804332" 
									| + 7 (495) 980-43-32 
							p.contacts_email
								a.contacts_email_link href="mailto:Kirill.Chekmarev@Gazprombank.ru"
									| Kirill.Chekmarev@Gazprombank.ru
						.col_3.col--contacts
							img.contacts_avatar src="img/persons/eltsov.jpg"
							p.contacts_name Юрий Ельцов
							p.contacts_position Заместитель директора
							p.contacts_place Департамент казначейских операций
							p.contacts_phone 
								a.contacts_phone_link href="tel:+74959804190" 
									| + 7 (495) 980-41-90
							p.contacts_email
								a.contacts_email_link href="mailto:Yury.Eltsov@Gazprombank.ru"
									| Yury.Eltsov@Gazprombank.ru
				
				include src/partials/request.slim
				
		include src/partials/mailing.slim
		include src/partials/footer.slim
